<html window-frame="solid" window-blurbehind="light" resizeable>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Nanollet</title>

    <link rel="stylesheet" type="text/css" href="Nanollet.css">
</head>
<body class="notconnected">


<header role="window-caption">
    <section class="logo">
        NANOLLET
    </section>
    <section class="account">
        <div class="box">
            <icon class="icon-coins"></icon>
            <div class="ammount"></div>
        </div>
        <div class="box">
            <icon class="icon-nodes"></icon>
            <div class="nodes"></div>
        </div>
        <button role="window-close">
            <icon id="end" class="icon-exit"></icon>
        </button>
    </section>
</header>

<section class="control">
{{range .Menu}}
    <button id="{{.Title | ToTitle}}"><span class="title">{{.Title | ToTitle}}</span><span class="pointer"></span></button>
    <aside class="application" id="{{.Title | ToTitle}}">
        {{range .Pages}}
        <button class="{{. | ToTitle }}"><span class="block"><icon class="{{. | ToLower }}"></icon><span class="title">{{. | ToTitle}}</span><span
                class="pointer"></span></span></button>
        {{end}}
    </aside>
{{end}}
</section>

<section class="dynamic">
{{range .App}}
    {{.}}
{{end}}
</section>

<section class="notification">
</section>
<!--
    Custom Input - DropZone:
    This input is used in "Nanofy" to select the file, it
 -->
<script type="text/tiscript">
    class DropZone : Element {
      event click() {
         var fn = view.selectFile(#open, "All Files (*.*)|*.*");
         if( fn ) {
          this.parent.select(".filepath").value = fn
          this.select(".name").value = fn.split("/")[fn.split("/").length-1]
          return true;
         }
      }
      event drag (evt) {
        if(evt.draggingDataType == #file) {
          return true;
        }
      }
      event drop (evt) {
        if(evt.draggingDataType == #file) {
          this.parent.select(".filepath").value = evt.dragging
          this.select(".name").value = evt.dragging.replace("\\", "/").split("/")[evt.dragging.replace("\\", "/").split("/").length-1]
          return true;
        }
      }
    }

</script>
<script src="Nanollet.js" type="application/javascript"></script>
</body>
</html>