
// -------------------------

@icon-font-path: "fonts";
@img-path: "front/imgs";

// -------------------------

@color-primary: #0f1121;
@color-secondary: #152360;
@color-tertiary: #4a90e2;

@color-input-dark: #000034;

@color-dark: #08080e;
@color-divider: #ea891f;
@color-light: #efefef;
@color-light-blue: #4da7e5;
@color-dark-blue: #2c3265;

// -------------------------

@has-navegation-toolbar: 1;

@w-nav: 20px;
@h-nav: 100vh;

// -------------------------

@w-sidebar: 160px;
@h-sidebar: 100vh;

@w-sidebar-content: 100%;
@h-sidebar-content: 70px;

@w-sidebar-menu: 100%;
@h-sidebar-menu: 150px;

// -------------------------

@w-sidebar-control: 76px;
@h-sidebar-control: 100vh;

@w-sidebar-control-button: 44px;
@h-sidebar-control-button: 44px;

//---------------------------

@w-account-outside: 80px;

@w-account: calc(@w-sidebar + @w-sidebar-control + @w-account-outside + 3px);
@w-account-logo: 50px;
@w-account-ammount: calc(@w-account-logo - @w-sidebar + @w-sidebar-control + @w-account-outside + 3px - 30px);
@h-account: 70px;

// -------------------------

@h-topbar: 80px;
@w-topbar: ~"calc(100vw - (@{w-sidebar}))";
@w-topbar-container: 100px;
@hw-topbar-icon: 32px;

// -------------------------

@h-main: ~"calc(100vh)";
@w-main: ~"calc(100vw - (@{w-sidebar} + @{w-sidebar-control} +  @{w-account-outside}))";

// -------------------------

@icon-logout: "\e900";
@icon-theme: "\e901";
@icon-message: "\e902";
@icon-post: "\e903";
@icon-app: "\e904";
@icon-setting: "\e905";
@icon-security: "\e98f";


